@using SistemaCos_001.ViewModels
@model ProductoListViewModel
@*<p class="aProduct">
    <a asp-action="Agregar" class="aNewProduct">Create New Product</a>
</p>
*@
@*<div id="categorias">
    <button class="btn-categoria btn-todos" data-id="todos">Mostrar Todos</button>
    @foreach (var categoria in Model.categorias)
    {
        <button class="btn-categoria" data-id="@categoria.categoriaId">@categoria.categoriaNombre</button>
    }
</div>*@
<h2>Productos</h2>
<div class="Cat">
    <a asp-action="Agregar" class="btnAgregar"><i class="bi bi-plus"></i> <p>Agregar</p></a>
</div>

<div class="contenedorCategoria">
    @foreach (var categoria in Model.categorias)
    {
        <a class="urlA" data-id="@categoria.categoriaId">
            <div class="Categoria">
                <div class="circulo">
                    <i class="bi bi-headset"></i>
                </div>
                <p class="textoCategoria">@categoria.nombre</p>
            </div>
        </a>
    }
</div>

<div class="contenedor">
    @foreach (var producto in Model.productos)
    {
        <partial name="_productoCard" model="producto" />
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.urlA').click(function (e) {
            e.preventDefault(); // Evita la acción predeterminada del enlace
            var categoriaId = $(this).data('id');
            if (categoriaId === 'todos') {
                $('.widget').show();
            } else {
                $('.widget').hide();
                $('.widget[data-categoria="' + categoriaId + '"]').show();
            }
        });
    });
</script>
@*<script>
    $(document).ready(function () {
        $('.btn-categoria').click(function () {
            var categoriaId = $(this).data('id');
            if (categoriaId === 'todos') {
                $('.widget').show(); // Corregir la clase a 'widget'
            } else {
                $('.widget').hide(); // Corregir la clase a 'widget'
                $('.widget[data-categoria="' + categoriaId + '"]').show(); // Corregir la clase a 'widget'
            }
        });
    });
</script>*@
