body {
}
.label {
    display: grid;
    width: 200px;
    padding: 1.5rem 0;
    grid-template-areas: "input";
    > *

{
    grid-area: input;
}

}

.span {
    transform-origin: left;
    transition: transform .3s, color .3s;
}

.input {
    height: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid slateblue;
    font: inherit;
    background-color: transparent;
    &:focus + .span, &:not(:placeholder-shown) + .span

{
    color: #695acde9;
    transform: translate(0,-100%)scale(.8);
}
}

.c2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.cc2 {
    width: 250px;
    height: 280px;
    background: linear-gradient(-45deg, rgba(255, 0, 0, 0.439), rgba(0, 0, 255, 0.531));
    transition: all 1s ease-in-out;
}

    .cc2 img {
        width: 200px;
        height: 200px;
        cursor: pointer;
        transition: height 0.7s ease;
    }

.textoPedidoCardCc2 {
    display: none;
}

    .textoPedidoCardCc2 label {
        margin-top: -10px;
    }

.cc2.activo {
    display: flex;
    width: 470px;
    transition: width 1s ease-in-out;
    & img

{
    width: 250px;
    height: 280px;
    transition: height 1s ease-in-out;
}

}

.imgcc2.activo {
    &~.textoPedidoCc2

{
    display: none;
}

& ~ .textoPedidoCardCc2 {
    display: block;
    background-color: rgba(243, 161, 161, 0.341);
    padding: 10px;
    animation: text 2s 1;
}

}

.textoPedidoCc2 {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    & h2, p

{
    margin-left: 15px;
}

}

@keyframes text {
    0% {
        transform: translateX(-150px);
    }

    100% {
        transform: translateX(0px);
    }
}



/* Estilos para la tabla */
#tablaProductos {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

    #tablaProductos th,
    #tablaProductos td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    #tablaProductos th {
        background-color: #dec8f1;
    }

 Botón de agregar a la tabla 
.btnAgregar {
    background-color: #4caf50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

 /* ---------    design  for datos del pedido-cliente    -----------     */
@media (max-width: 767px) {
    .per {
        flex-direction: column;
    }
}

.per {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 10px 0;
    padding: 10px 30px !important;
    background-color: rgba(191, 143, 236, 0.308);
    overflow: hidden;
}

.perfilP {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

    .perfilP > h5 {
        color: #703d6f;
    }

    .perfilP > p {
        color: #706482;
        opacity: 0.8;
    }

    .perfilP img {
        width: 200px;
        height: 200px;
        padding: 3px;
        border: solid 2px rgba(115, 91, 134, 0.888);
        border-radius: 50%;
    }


#btnAbrirModalCategoria, #btnEnviarDatos {
    background-color: blueviolet;
    border: 1px solid blueviolet;
}

#footerPedido{
    margin:10px 0;
}


.card-body > div {
    margin: 10px 0;
}

#proformaPedido {
    background-color: rgba(191, 143, 236, 0.308);
    margin: 10px 0;
}

.subtituloPedido {
    color: #706482;
}


/* Botones de proforma*/
.botonesPedido {
    display: flex;
    width: 100%;
    gap: 5%;
}

    .botonesPedido > button {
        width: 50%;
    }