/*html {
  font-size: 14px;
}*/
/* Fondo transparente para el header en el Home/Index */
/*body.is-home header {
    background-color: red;
}*/

/* Fondo blanco para el header en otras páginas */
/*body:not(.is-home) header {
    background-color: white;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/