<div class="text-center">
    <div id="paypal-button-container"></div>
</div>

@section Scripts {
    @*Use ViewBag.ClientId to load Paypal Javascript SDK*@
    <script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.ClientId"></script>
    
    <script>
        var dato;
        paypal.Buttons({
            style: {
                layout: 'vertical',
                color: 'silver',
                tagline: 'false'
            },
            createOrder: (data, actions) => {
                return fetch("@Url.Action("Order")", {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }

                    return response.json();
                }).then((order) => order.id)
                .catch(error => alert(error.message));
            },
            onApprove: (data, actions) => {
                return fetch(`@Url.Action("Capture")?orderId=${data.orderID}`, {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }
                    valor = typeof(response);
                    //window.location.href = `@Url//.Action("Success")?transactionId=${data.orderID}`;
                    var transactionId = data.orderID;
                    var url = '@Url.Action("Checkout", "Venta")' + '?transactionId=' + transactionId;
                    window.location.href = url;

                    //var url = '@Url./*Action("Checkout", "Order")*/?transactionId=${data.orderID}`;
                    //window.location.href = url;

                    //window.location.href = "@Url//.Action("Success")";
                }).catch(error => alert(error.message));
            }
        }).render('#paypal-button-container');
    </script>
}
